/* You can add global styles to this file, and also import other style files */

html, body {
  background-color: gray;
  height: 100%;
  min-height: 100%;
}

#main-container {
  background-color: white;
  height: 100%;
  min-height: 100%;
}

.invalid-feedback {
  display: block;
}
